.page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
    border: 0;

    transform: translateX(0);
    filter: blur(0);
    transition: .1s all ease-in-out;
}
.page.menuDrawerOpened { transform: translateX(400px); filter: blur(10px) }
